// COLORS
$white: #fff;
$darker-white: #e6e5e5;
$light-grey: #d2d0d0;
$dark-grey: #575757;
$black: #000;
$green: #00ad00;
$orange: #ffbb3d;
$red: #ff0000;

// THEME
$theme-primary: #1e90ff;
$theme-primary-dark: #104dc6;

$theme-secondary: #b54336;
$theme-secondary-dark: #863228;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 125rem;
$grid-vertical: 8rem;
$grid-horizontal: 6rem;
